root = true

[js,ts,tsx,jsx]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
# trim_trailing_whitespace = true # doesn't work yet
# insert_final_newline = true # doesn't work yet

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8

[Makefile]
indent_style = tab
indent_size = 2%
