@import '_base.scss';

.tabHead {
  display: flex;
  flex: none;
  flex-direction: column;
  width: calc(100% + #{$margin-size * 2});
  margin-top: $margin-size * -1;
  box-shadow: inset 1px 0 4px rgba(4, 21, 37, 0.22);
  padding-left: $margin-size * 2;

  & > p {
    color: $gray-color;
  }
}

.tab {
  flex-direction: column;
}

.contentCard {
  padding: $margin-size;

  .titleCard {
    margin-bottom: #{$margin-size + 4};
  }

  .itemCard {
    margin-bottom: $margin-size;
  }
}

.headCardItem {
  display: flex;
  margin-bottom: #{$margin-size - 4};

  .rightCard {
    text-align: right;
    width: 120px;

    p,
    h2 {
      margin-bottom: 0;
    }
  }
}

.end {
  padding-right: #{$margin-size * 2} !important;
  justify-content: flex-end;
}

.cardDivider {
  margin: $margin-size !important;
}

.contain {
  button {
    margin-left: $margin-size;
  }
}

.totalBox {
  display: flex;
  justify-content: flex-end;
  padding-top: $margin-size / 2;

  .total {
    width: 200px;
    text-align: left;

    p {
      margin-bottom: 0;
    }

    span {
      font-size: #{$margin-size * 2};
    }
  }
}

.confirmBox {
  text-align: center;
  margin-top: $margin-size * 4;
  margin-bottom: $margin-size * 2;

  button {
    margin-right: $margin-size;
  }
}
